<section id="learn" class="section">
  <div class="container">
    <%= render Heading::SectionHeadingComponent.new(eyebrow: "Course outcomes", title: "What you'll learn") %>

    <div class="row g-5 mt-2">
      <div class="col-lg-5 d-flex flex-column">
        <ul class="list-unstyled mb-0 d-flex flex-column flex-grow-1 justify-content-between gap-4">
          <% objectives.each do |objective| %>
            <li class="d-flex gap-3 align-items-start">
              <span class="check-badge flex-shrink-0" aria-hidden="true">
                <svg width="14" height="14" viewBox="0 0 16 16" fill="none" stroke="currentColor"
                     stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M3 8.5l3.5 3.5L13 4" />
                </svg>
              </span>
              <span class="lead mb-0"><%= objective.description %></span>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="col-lg-7">
        <%= render Code::EditorComponent.new(files: code_cards) %>
      </div>
    </div>
  </div>
</section>
