<div class="code-card">
  <div class="code-card-bar">
    <span class="code-card-dots" aria-hidden="true"><span></span><span></span><span></span></span>
    <span class="code-card-filename"><%= filename %></span>
  </div>
  <pre class="code-card-body"><code><%= body %></code></pre>
</div>
